<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :member %>
    <%= form.number_field :member %>
  </div>

  <div class="field">
    <%= form.label :debut_date %>
    <%= form.date_select :debut_date %>
  </div>

  <div class="form-group">
    <strong><%= form.label :gender, "Gender" %></strong>
    <%= form.select :gender, options_for_select(@genders)%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
